# R
.Rhistory
.RData
.Rproj.user/

# Data (rå og tunge filer)
data_raw/
data_processed/

# Output & artefakter
plots/
output/
results/
figures/
analytics/

# Modeller
models/*.rds

# Keep analysis scripts in figures
!figures/analysis_extra/
!figures/analysis_extra/**/*.R

# OS
.DS_Store
